.container-earbuds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}

.header-bottom {
  margin: 1cap;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.75rem;
  color: #57626b;
  cursor: pointer;
}

.images-section {
  display: flex;
  height: 100%;
  align-items: center;
}

.samples {
  margin-top: 200%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#model-earbud {
  height: 3rem;
  width: 3.5rem;
  border: 1px solid #353a49;
  border-radius: 50%;
  cursor: pointer;
}

.main-banner {
  width: 35rem;
  background-color: #f8f8fa;
  height: 80%;
  border-radius: 8px;
}

.main-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.colors > button {
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
  padding: 0;
}

#blue {
  background-color: #9ec6ea;
}

#white {
  background-color: #e7e4df;
}

#black {
  background-color: #4b4b4d;
}

#grey {
  background-color: #d0d9d8;
}

#green {
  background-color: #dfe5b7;
}

#orange {
  background-color: #e58177;
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .container-earbuds {
    height: 80%;
    top: 20%;
  }

  .images-section {
    display: none;
  }

  .main-banner {
    width: 80%;
    height: auto;
  }

  .main-aside {
    width: 100%;
  }
}

@media (max-width: 431px) {
  .container-earbuds {
    height: 70%;
  }

  .main-banner {
    max-height: 30%;
  }
}
