.cart {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 0.1em;
}

.cart-items {
    display: flex;
    justify-content: space-around;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detail-cart-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F8F9FB;
    width: 40%;
    border-radius: 10%;
}

.product-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
    align-items: center;
}

.product-cart img {
    height: 4rem;
    gap: 1rem;
}

.img-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -8rem;
}

.select-container {
    display: flex;
}

.select-cart {
    margin: 1rem;
    width: 1rem;
    height: 1rem;
    border-style: none;
    background-color: transparent;
}

.summary-container {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
    width: 40%;
    border-radius: 10%;
}

/* .summary {
   
} */

h4,
h5 {
    margin-top: 0.5rem;
}

.remove {
    font-weight: bold;
    color: #1A73E9;
    text-decoration: underline;
}

.receipt-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

.receipt {
    display: flex;
    flex-direction: column;
}

.totals {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem;
}


.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.payment {

    font-size: 12px;
}

.delivery {
    width: 50%;
    margin-top: 0.5rem;
    background-color: white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    margin-left: 160px;
}

.delivery img {
    margin-right: 1rem;
    width: 1rem;
}

span {
    color: var(--blue-color);
}

.hr-summary {
    position: relative;
    top: -100px;
}

.button-purchase {
    width: 50%;
    margin-left: 150px;
    margin-bottom: 1rem;
}