:root {
  --titles: 35px;
  --text-bold: 12px;
  --text: 12px;
  --bold: bold;
}

.buy {
  width: 90%;
  height: 20vh;
  background-color: var(--background-color);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.option-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
}

.delivery {
  margin-top: 0.5rem;
}

.delivery img {
  margin-right: 1rem;
}
