nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem;
    height: 2rem;
}


.logo {
    height: 1.5rem;
}


.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    color: #57626b;
    cursor: pointer;
    margin-left: -1rem;
}

.active-item {
    color: #1a73e8;
    font-weight: bold;
    text-decoration: none;
}

.smartwatch {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.smartwatch:hover {
    font-weight: bold;
}


.nav-icons{
    display: flex;
    gap: 1rem;
    margin-right: 2%;
}

.icons {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}