* {
  font-family: Inter, sans-serif;
}

.contenedor-principal {
  position: relative;
  min-height: 100vh;
}

.contenedor-principal-navbar-main {
  padding-bottom: 15rem;
}

body {
  margin: 0;
}

main{
  margin-top: 3rem;
}